lib/
docs/
*.tgz

# IntelliJ Idea file-based project settings
*.iws
/out/
.idea

# VSCode
*.tsbuildinfo

# Android studio
.gradle/
local.properties
.DS_Store
captures/
.externalNativeBuild

# Cache files for SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sFTP configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

# Node
*.moved-aside
*.xccheckout
*.xcscmblueprint
# Out of memory reports
report.*.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
flow-typed
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Build generated
build/
DerivedData/

# OSX
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
*~

# Temporary files which can be created if a process still has a handle
# open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Windows
*.bak
*.tmp
*.swp

# Image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle bin used on file shares
$RECYCLE.BIN/

# Installer files
*.cab
*.msi
*.msm
*.msp

# Shortcuts
*.lnk
