:root {
    --font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
}

code {
    padding: 0.2em 0.5em;
}

code.tsd-tag {
    color: var(--color-text-aside);
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    padding: 0 0.3em 0 0;
}

pre {
    padding: 0.6em 0.8em;
}

pre > button {
    border: none;
    top: 5px;
    right: 5px;
}

code,
pre {
    font-family: var(--font-family-mono);
}

input,
select,
button {
    font-family: var(--font-family-body);
    font-size: 1rem;
}

button,
select {
    padding: 0.3em 0.4em;
    border-radius: 0.4em;
    border-width: 1px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-collapse: collapse;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--color-accent);
}

th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--color-accent);
}

.uppercase {
    text-transform: none;
}

.tsd-signature {
    padding: 0.6rem 0.8em;
    border-radius: 0.8em;
}

.tsd-signatures .tsd-signature {
    border-width: 1px;
}

.tsd-filter-visibility h4 {
    padding: 1em 0;
    font-weight: normal;
}

.tsd-theme-toggle h4 {
    font-weight: normal;
}

.tsd-panel-group > h2 {
    margin-bottom: 3rem;
}

a.current {
    border-radius: 0.4em;
}

.tsd-navigation a {
    padding: 0.2rem;
}
