name: publish

on:
  # release
  push:
    tags: ['v[0-9]+.[0-9]+.[0-9]+']

  # prerelease
  workflow_dispatch:
    inputs:
      prerelease_type:
        description: Prerelease type
        type: choice
        options:
          - major
          - minor
          - patch
        default: patch
        required: true

      tag:
        description: Tag
        type: string
        default: next
        required: true

run-name: ${{ github.event_name == 'push' && github.ref_name || 'prerelease' }}

permissions:
  id-token: write
  contents: write

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      - name: Set prerelease version
        if: github.event_name == 'workflow_dispatch'
        run: |
          npm version --no-git-tag-version ${{ inputs.prerelease_type }}

          npm version --no-git-tag-version "$(npm pkg get version | xargs)-${{ inputs.tag }}.${GITHUB_SHA::7}"

      - run: npm ci
      - run: npm run build
      - run: npm test

      - name: Publish package
        working-directory: ./lib
        run: |
          npm publish --tag ${{ inputs.tag || 'latest' }}

          echo "::notice title=Package::npm install --save-exact $(npm pkg get name | xargs)@$(npm pkg get version | xargs)"

      - name: Update latest tag
        if: github.event_name == 'push'
        run: |
          set -x

          git push origin :refs/tags/latest
          git tag --force latest
          git push origin tag latest

      - name: Create release notes
        if: github.event_name == 'push'
        run: gh release create ${{ github.ref_name }} --generate-notes --draft
        env:
          GH_TOKEN: ${{ github.token }}

  publish-docs:
    if: github.event_name == 'push'
    needs: [publish-package]
    uses: ./.github/workflows/publish-docs.yml
