name: test

on:
  push:
    branches: [master]
    paths-ignore:
      - 'README.md'

  pull_request:
    branches: [master]
    paths-ignore:
      - 'README.md'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: npm test
      - run: npm run test:definitions

  test-definitions:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        typescript: ['4.1', '4.9', '5.0', '5.8']
    name: typescript@${{ matrix.typescript }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: npm

      - run: npm ci
      - run: npm run build
      - run: npm install --save-exact typescript@${{ matrix.typescript }}
      - run: npm run test:definitions
